body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

/* knapper */
a.btn {
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
}
a.btn:hover {
  background: #ffffff;
  color: #000000;
}

header, section, footer {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 50px 20px;
}
